@charset "UTF-8";

td {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1em;
    width: 200px;
    height: 35px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
}

html {
    text-align: center;
}

th {
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

tbody > tr:nth-child(even) {
    background-color: rgba(211, 211, 211, 0.712);
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: rgb(63, 63, 63);
}

table {
    border-collapse: collapse
}

p {
    font-size: 2em;
}